#header2 {height:104px;background:#000 url(http://johnniewalker.etoday.ru/i/header2-bg.jpg) bottom left repeat-x;min-width: 980px;margin-bottom:12px;padding-top:6px;}
#header2-body {background:transparent url(http://johnniewalker.etoday.ru/i/johnnie.jpg) right 12px no-repeat;height:82px;margin:0 auto;width:960px;}
#header2-wrapper {height:96px;background:transparent url(http://johnniewalker.etoday.ru/i/header2-bg2.jpg) bottom left repeat-x;}
a#walk {display:block;height:82px;background:transparent url(http://johnniewalker.etoday.ru/i/walk2.jpg) 2px 11px no-repeat;}
#jb {margin:0 0 440px;height:1px;}
#jbb {position:absolute;width:240px;height:400px;background:#000;top:234px;left:780px;}
